name: Build the flutter version of the RustDesk

on:
  workflow_dispatch:
    inputs:
      upload-artifact:
        type: boolean
        description: 'Upload Artifacts'
        default: true
  push:
    branches: [ "master" ]
  workflow_call:
    inputs:
      upload-artifact:
        type: boolean
        default: true
      upload-tag:
        type: string
        default: "nightly"

jobs:
  build-windows:
    name: Build Windows
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
          override: true

      - name: Install Vcpkg dependencies
        run: |
          vcpkg install libvpx:x64-windows libyuv:x64-windows opus:x64-windows aom:x64-windows
        shell: cmd

      - name: Build RustDesk (Release)
        env:
          RENDEZVOUS_SERVER: ${{ secrets.RENDEZVOUS_SERVER }}
          RS_PUB_KEY: ${{ secrets.RS_PUB_KEY }}
        run: python3 build.py --flutter
        shell: cmd

      # --- AQUÍ ESTÁ LA MAGIA DE ABASUR ---
      - name: Compilar Instalador (Inno Setup)
        uses: Minionguyjosh/inno-setup-action@v1.2.2
        with:
          path: setup.iss

      - name: Upload Installer
        uses: actions/upload-artifact@v3
        with:
          name: Abasur-Instalador-Windows
          path: Output/Abasur_Instalador.exe
