name: Build the flutter version of the RustDesk

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

jobs:
  build-windows:
    name: Build Windows
    runs-on: windows-2022
    
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
          override: true

      # Eliminamos la instalación manual de NASM/Perl/LLVM porque --no-vcpkg no los necesita
      # Eliminamos el paso "Instalar Dependencias Vcpkg" que es el que da error

      - name: Build RustDesk (Release)
        env:
          RENDEZVOUS_SERVER: ${{ secrets.RENDEZVOUS_SERVER }}
          RS_PUB_KEY: ${{ secrets.RS_PUB_KEY }}
        # Al usar --no-vcpkg evitamos compilar las librerías de video que fallan
        run: python3 build.py --flutter --no-vcpkg
        shell: cmd

      - name: Instalar Inno Setup y Compilar
        run: |
          choco install innosetup --no-progress -y
          "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" setup.iss
        shell: cmd

      - name: Upload Installer Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Abasur-Instalador-Windows
          path: Output/Abasur_Instalador_Full.exe
